<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015 LAM Creations
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lamcreations.scaffoldsampleapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SampleCollapsingToolbarActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".SampleCollapsingToolbarDrawerActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".SampleCollapsingToolbarTabDrawerActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity android:name=".SampleCoordinatorActivity" />
        <activity
            android:name=".SampleDrawerActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".SampleSearchableActivity"
            android:theme="@style/AppTheme.TranslucentStatus" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".SampleSettingsActivity" />
        <activity android:name=".SampleSettingsActivityWithHeaders" />
        <activity android:name=".SampleTabActivity" />
        <activity
            android:name=".SampleTabDrawerActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity android:name=".SampleToolbarActivity" />
    </application>

</manifest>
